<h2>Movie List</h2>
<table class="table-table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Movie-Name</th>
            <th>Movie-Price</th>
            <th>Movie-genre</th>
            <th>Movie-language</th>
            <th>Movie-desc</th>
            <th>Movie-timing</th>
         </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let movie of movies">
        <td>{{movie.id}}</td>
        <td>{{movie.mname}}</td>
        <td>{{movie.mprice}}</td>
        <td>{{movie.mgenre}}</td>
        <td>{{movie.mlanguage}}</td>
        <td>{{movie.mdesc}}</td> 
        <td>{{movie.mtiming}}</td>
        <td>
            <input type="button" value="delete" class="btn btn-danger" (click)="deletebyid(movie.id)"/>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" value="modify" class="btn btn-primary"  />
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" value="View MovieInfo" class="btn btn-success" (click)="getMoviebyid(movie.id)"/>
            &nbsp;&nbsp;&nbsp;&nbsp;
            </td>

</tr>
         
    </tbody>
    <br/>

</table>
